<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/commons::head">
</head>

<body class="bg-dark">
<header th:replace="fragments/commons::nav"></header>

<main role="main" class="bg-dark">


    <section class="site-header text-info">
        <h1>Here you can find our offers</h1>
    </section>


    <div th:each="o : ${offers}" th:object="${o}" class="container align-content-center bg-dark p-2 mt-5">
        <div class="row align-content-center bg-dark">
            <li class="list-group-item bg-dark text-warning">
                <div class="card-text bg-dark text-info"><span th:text="|Room type: *{room}|">RoomType</span></div>
                <div class="card-text bg-dark text-info"><span th:text="|Price: *{price} BGN per night|">Price</span></div>
                <div class="card-text bg-dark text-info"><span th:text="|If you have a stay more than: *{stay} days,|">Price</span></div>
                <div class="card-text bg-dark text-info"><span th:text="|you get a discount of *{discount}% from the total sum. |">Discount</span></div>
                <div class="card-text bg-dark text-info"><span th:text="|Additionl notes: *{description}|">description</span></div>
            </li>
        </div>
    </div>

    <a class="btn btn-dark btn-block btn-warning bg-dark text-warning align-content-center mt-5" href="/"
       role="button">BACK</a>
</main>
<footer th:replace="fragments/commons::footer">
</footer>
</body>
</html>